body{ background-color: brown; }

h2{

color: whitesmoke;
}
ol{
        list-style-position: inside ;
      }
      
      .col-md-8{
        background-image: linear-gradient(orange, orangered);
        height: 600px;
        width: 960px;
        border: 10px solid black;
      }
      #ExpResult, #ModResult, #GreaterResult, #EqualResult, #AndResult, #NotResult{
        font-style: bold;
        color: green;
      }